*,* {margin: 0; padding: 0; }

body {
	background: #111;
	color:  #fff;
	font-family: monospace;
	position: relative;
	user-select: none;
	  scrollbar-color: rebeccapurple green;
}

*::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 1);
}
*::-webkit-scrollbar-thumb {
  background-color: #444;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

#world {
	position: relative;
}

#ui {
	position: fixed;
	background: #444;
	z-index: 9000;
	top: 0;
	left: 0;
	width: calc(128px + 32px);
	bottom: 0;
	padding: 16px;
	box-sizing: border-box;
	pointer-events: none;
}

#ui button {
	width: 100%;
	display: block;
	position: relative;
	background: #333;
	border: 0;
	color:  #fff;
	padding: 4px 0;
	font: 14px monospace;
	pointer-events: all;
}

#ui button:hover {
	background: #666;
	color: #eee;
}

#ui button:active {
	background: #fff;
	color: #000;
}

#statusBar {
	pointer-events: none;
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	right: 10px;
	font-size: 18px;
	white-space: nowrap;
	text-align: right;
}

#minimap {
	position: relative;
	width: 128px;
	height: 128px;
	overflow: hidden;
	background: #222;
	z-index: 999999;
	margin: 8px 0;
	pointer-events: all;
}

#minimap div {
	position: absolute;
	width: 4px;
	height: 4px;
	top: 0;
	left: 0;
	margin-left: -2px;
	margin-top: -2px;
	background: #11FC17;
	z-index: 1000;
}

#minimap div[data-player="0"] {
	background-color: yellow;
	z-index: 10;
}
#minimap div[data-player="0"] {background-color: #00DFFB; }
#minimap div[data-player="2"] {background-color: #E70A0E; }
#minimap div[data-player="1"].selected {
	background-color: #fff;
	z-index: 2000;
}

#minimap span {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	border: 1px solid #888;
	pointer-events: none;
}

#buildBar {
	margin: 8px 0;
}

#buildBar button {
	margin: 0 0 2px 0;
}

#unitInfo {
	font-family:  monospace;
	font-size: 12px;
	marginx: 16px 0;
}

#eventInfo {
	position: fixed;
	width: 128px;
	height: 256px;
	bottom: 16px;
	left: 16px;
}

#eventInfo span {
	display: block;
	overflow: auto;
	font-family:  monospace;
	font-size: 10px;
	margin-bottom: 6px;
}

x-unit {
	position: absolute;
	transition: top 1000s, left 1000s, rotate 1s;
	transition-timing-function: linear;
}

x-unit.selected {
	outline: green solid 5px;
}

x-unit.selected[data-player="0"] {outline-color: yellow; }
x-unit.selected[data-player="2"] {outline-color: red; }

x-unit[data-player="2"] {filter: hue-rotate(300deg) }

x-sprite {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 600;
}

x-sprite.explosion {
  animation-duration: 0.3s;
  animation-name: explode;
}

@keyframes explode {
  from {
  	transform: scale(100%);
  }

  to {
    transform: scale(10%);
  }
}


x-overlay {
	display: none;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	outline: 10px solid rgba(75, 75, 255, 0.05);
}

body.showPowerRange x-overlay,
x-unit.selected x-overlay {
	display: block;
}

#buildingPlacementGhost {
	display: none;
	background: rgba(255,0,0, 0.1);;
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
}
#buildingPlacementGhost.visible {
	display: block;
}
#buildingPlacementGhost.valid {
	background-color: rgba(255,255,255, 0.1);
}

#tooltip {
	position: fixed;
	display: none;
	width: 300px;
	padding: 16px;
	background-color: rgba(0,0,0, 0.2);
	box-sizing: border-box;
	background: #111;
	color:  #fff;
	font-family: monospace;
	z-index: 999999999;
}

#tooltip.visible {
	display: block;
}