*,* {margin: 0; padding: 0; }

body {
	background: #111;
	color:  #fff;
	font-family: monospace;
	position: relative;
	user-select: none;
	  scrollbar-color: rebeccapurple green;
}

*::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 1);
}
*::-webkit-scrollbar-thumb {
  background-color: #444;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

#world {
	position: relative;
}

#ui {
	position: fixed;
	background: #444;
	z-index: 9000;
	top: 0;
	left: 0;
	width: calc(128px + 32px);
	bottom: 0;
}

#mainMenuButton {
	width: 128px;
	display: block;
	position: absolute;
	top: 16px;
	left: 16px;
	background:  #000;
	border: 0;
	color:  #fff;
	padding: 4px 0;
	font: 14px monospace;
}

#statusBar {
	position: fixed;
	top: 10px;
	left: 10px;
	right: 10px;
	right: 10px;
	font-size: 18px;
	white-space: nowrap;
	text-align: right;
}

#minimap {
	position: absolute;
	top: 48px;
	left: 16px;
	width: 128px;
	height: 128px;
	overflow: hidden;
	background: #222;
	z-index: 999999;
}

#minimap div {
	position: absolute;
	width: 4px;
	height: 4px;
	top: 0;
	left: 0;
	margin-left: -2px;
	margin-top: -2px;
	background: #11FC17;
	z-index: 1000;
	pointer-events: none;
}

#minimap div[data-player="0"] {
	background-color: yellow;
	z-index: 10;
}
#minimap div[data-player="0"] {background-color: #00DFFB; }
#minimap div[data-player="2"] {background-color: #E70A0E; }
#minimap div[data-player="1"].selected {
	background-color: #fff;
	z-index: 2000;
}

#minimap span {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	border: 1px solid #888;
	pointer-events: none;
}

#unitInfo {
	position: fixed;
	width: 128px;
	top: 196px;
	left: 16px;
	font-family:  monospace;
	font-size: 12px;
}

#eventInfo {
	position: fixed;
	width: 128px;
	bottom: 16px;
	left: 16px;
}

#eventInfo span {
	display: block;
	overflow: auto;
	font-family:  monospace;
	font-size: 10px;
	margin-bottom: 6px;
}

x-unit {
	position: absolute;
	transition: top 1000s, left 1000s, rotate 1s;
	transition-timing-function: linear;
}

x-unit.selected {
	outline: green solid 5px;
}

x-unit.selected[data-player="0"] {outline-color: yellow; }
x-unit.selected[data-player="2"] {outline-color: red; }

x-unit[data-player="2"] {filter: hue-rotate(300deg) }

x-sprite {
	position: absolute;
	top: 0;	
	left: 0;	
}

x-sprite.explosion {
  animation-duration: 0.3s;
  animation-name: explode;
}

@keyframes explode {
  from {
  	transform: scale(200%);
  }

  to {
    transform: scale(10%);
  }
}
